name: Tests

on:
  #push:
  #pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      # add steps here (placeholder for unit + integration tests)
      - name: step 1
        run: |
          echo "unit + integration test"
