name: E2E Tests

on:
  #push:
  #pull_request:
  workflow_dispatch:

jobs:
  test-e2e:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      # Add steps here (placeholder for e2e test)
      - name: step 1
        run: |
          echo "e2e test"

